.container {
    background-color: var(--background-dark);
}

.features-section {
    height: 500px;
}

.react-multi-carousel-item {
    max-width: 669px;
    min-width: 669px;
}

.active-feature-card {
    height: 330px !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    padding: 0 7.5px;
    transform: scale(1.15);
    transition: all 200ms ease-in-out;
}

.drawer-body, .drawer-header{
    background-color: var(--background-dark);
}

.drawer-header {
    border-bottom: 1px solid #F4AA3F !important;
}

.drawer-body {
    box-shadow: initial;
}

.blur-feature-card {
    filter: blur(2px);
    height: 282px !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    padding: 0 7.5px;
    transform: scale(0.85);
    transition: all 200ms ease-in-out;
    pointer-events: none;
}

.feature-img {
    width: 100%;
    height: 100%;
    border-radius: 15px !important;
    object-fit: cover !important;

    @media screen and (max-width: 1290px) {
        width: 80%;        
    }
}

.category-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1650px;

    @media screen and (min-width: 1500px) and (max-width: 1740px) {
        max-width: 1400px;
    }
    @media screen and (min-width: 1366px) and (max-width: 1499px) {
        max-width: 1200px;
    }
    @media screen and (min-width: 1100px) and (max-width: 1365px) {
        max-width: 900px;
    }
    @media screen and (min-width: 800px) and (max-width: 1099px) {
        max-width: 720px;
    }
    @media screen and (min-width: 600px) and (max-width: 799px) {
        max-width: 480px;
    }
    @media screen and (max-width: 599px) {
        max-width: 240px;
    }
}

.fav-modal {

}

.category-title {
    align-self: flex-start;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.019px;
    color: #F5F5F5;
}

/* -------------- CUSTOM SLICKER -------------- */

.features-section {
    position: relative;

    &.top {
        z-index: 1000;
    }

    .card-background {
        position: absolute;
        height: 110%;
        width: 100%;
        filter: opacity(0.25) blur(50px);
        object-fit: cover;
    }

    .slick-next {
        right: 25px;
        z-index: 5;
    }
    
    .slick-prev {
        z-index: 5;
        left: 25px;
    }
    
    .slick-slider {
        padding-top: 2%;
        padding-bottom: 50px;
    }
    
    .slick-track {
        display: flex;
        align-items: center !important;
        height: 381px;
    }
    
    .slick-slide > div {
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .custon-dot-class {
        background-color: transparent;
    }
    
    .slick-dots {
        margin-top: 50px;
    }
    
    .slick-dots > li.slick-active > button:before {
        color: #F4AA3F;
        opacity: 1;
    
    }
    
    .slick-dots > li > button:before {
        color: #707070;
        opacity: 0.2;
    }
}

/* ------------ CUSTOM SLICKER ENDS ------------ */



@media only screen and (max-width: 600px) {
    .login-container{
        width:350px;
    }
    .email-box{
        width: 90%;
    }
    .contraseña-box{
        width: 90%;
    }
    .sesion-section{
        width: 90%;
    }
}

.row{
    width: 100%;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 77vh;
}