.category-container {
    height: 300px;
    width: 100%;
    margin: 46px 0 60px 0;

    @media screen and (max-width: 1740px) {

    }

    .category-movie-card {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        // width: 180px !important;
        height: 300px !important;
        border-radius: 10px;
        padding: 0 5px;

        .movie-img {
            width: 210px;
            height: 280px;
            object-fit: cover;
            border-radius: 10px;
        }
    }


    .slick-list {
        overflow-y: visible;
    }

    .slick-track {
        width: 100%;
        display: flex;
        align-items: center !important;
        height: 305px;
    }

    .slick-next {
        right: -45px;
        z-index: 5;
    }
    
    .slick-prev {
        z-index: 5;
        left: -45px;
    }

    .slick-slide {
        width: 240px !important;
        transform: scale(0.93);
        transition: all 100ms ease-in-out;

        &:hover {
            transform: scale(1);
            transition: all 100ms ease-in-out;
            cursor: pointer;
        }
    }
}