.modal-container {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    background-color: rgba(#000, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .dialog-container {
        background-color: rgba(40, 38, 38, 1);
        padding: 2%;
        border-radius: 20px;
        box-shadow: 2px 9px 20px 0 rgba(0, 0, 0, 0.1);

        .title {
            font-family: "Raleway";
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 35px;
            color: #D09137;
            text-align: center;
            margin-bottom: 20px;
        }

        .body {
            font-family: "Raleway";
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: #fff;
            text-align: center;
            margin-bottom: 30px;
        }

        .row {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .confirmBtn {
                background: transparent;
                border: 1px solid #D09137;
                border-radius: 5px;
                width: 160px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                cursor: pointer;
    
                p {
                    color: #D09137;
                }
            }
    
            .suscriptionBtn {
                background: #D09137;
                border-radius: 5px;
                width: 230px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}