video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.landing-title {
    font-size: 60px;
    color: #fff;
}

.slider{
  position: relative;
  flex-direction: column;
  height: 90vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #c78c36;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #c78c36;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.hero-container{
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.slider > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.slider > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
